APP_ENV=production
APP_DEBUG=false
APP_URL=http://asu.local

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=asu
DB_USERNAME=root
DB_PASSWORD=

# Runtime target
# Open Server Panel 6.5.1
# PHP 8.5
# MySQL 8.4
